<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="container">
      <div class="details content">
        <h2><%= student.studentName %></h2>
        <div class="content">
          <!-- <label class="col-sm-3 col-form-label">Subject: </label>
          <span class="col-sm-9"><%= student.subject %></span>

          <br />

          <label class="col-sm-3 col-form-label">Date: </label>
          <span class="col-sm-9"><%= student.date %></span>
          <br />

          <label class="col-sm-3 col-form-label">Total Worksheets Done: </label>
          <span class="col-sm-9"><%= student.totalSheets %></span>
          <br />
          <label class="col-sm-3 col-form-label">Last Workbook Done: </label>
          <span class="col-sm-9"><%= student.lastBook %></span>

          <br /> -->

          <table class="table table-bordered table-hover">
            <tr>
              <td class="table-light"><strong>Subject</strong></td>
              <td><%= student.subject %></td>
            </tr>
            <tr>
              <td class="table-light"><strong>Date</strong></td>
              <td><%= student.date %></td>
            </tr>
            <tr>
              <td class="table-light"><strong>Total Worksheets Done</strong></td>
              <td><%= student.totalSheets %></td>
            </tr>
            <tr>
              <td class="table-light"><strong>Last Workbook Done</strong></td>
              <td><%= student.lastBook %></td>
            </tr>
          </table>

          <a href="/edit/<%= student._id %>" class="btn btn-primary">Edit</a>
          <button class="btn btn-danger del">Delete</button>
        </div>
      </div>
    </div>

    <script>
      const trashcan = document.querySelector("button.del");
      trashcan.addEventListener("click", (e) => {
        const endpoint = `/students/${trashcan.dataset.doc}`;

        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
