<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %> 
        <form action="/students" method="POST">
            <% for (var i = 0; i < sheets.length; i++) { %>

      <label for="studentName">Student Name: </label>
      <input
        type="text"
        name= "<%= "students[" + i +"][studentName]" %>"
        id= "<%= "students[" + i +"][studentName]" %>"
        value="<%= sheets[i].sName %>"
      />

      <label for="subject">Subject: </label>
      <input
        type="text"
        name= "<%= "students[" + i +"][subject]" %>"
        id= "<%= "students[" + i +"][subject" %>"
        value="<%= sheets[i].subject %>"
      />

      <label for="date">Month: </label>
      <input
        type="text"
        name= "<%= "students[" + i +"][date]" %>"
        id= "<%= "students[" + i +"][date]" %>"
        value="<%= sheets[i].date %>"
      />

       <label for="total">Total worksheets done: </label>
        <input 
        type= "text" 
        name= "<%= "students[" + i +"][totalSheets]" %>"
        id = "<%= "students[" + i +"][totalSheets]" %>"
        value="<%= sheets[i].totalSheets %>" />

        <label for="last">Last worbook done: </label>
        <input 
        type= "text" 
        name= "<%= "students[" + i +"][lastBook]" %>"
        id = "<%= "students[" + i +"][lastBook]" %>"
        value="<%= sheets[i].lastBook %>" />
      <br>

       <% } %>         

           

            <input type="submit" />

        </form>
        <script src="" async defer></script>
    </body>
</html>