<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %> 
        <form action="" method="POST">
            <label for="sName">Student Name: </label>
            <input type="text" name="sName" value="<%= studentName %>" />

            <label for="subject">Subject: </label>
            <input type="text" name="subject" value="<%= subject %>" />

            <label for="month">Month: </label>
            <input type="text" name="month" value="<%= time %>" />

            <label for="total">Total worksheets done: </label>
            <input type="text" name="total" value="<%= totalSheets %>" />

            <label for="total">Last worbook done: </label>
            <input type="text" name="last" value="<%= lastBook %>" />

            <input type="submit" />

        </form>
        <script src="" async defer></script>
    </body>
</html>